<app-nav-bar class="mb-4"></app-nav-bar>

<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="card shadow-lg w-100 border-0" style="max-width: 900px;">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless mb-0" data-bs-theme="dark">
          <thead class="table-dark text-center">
            <tr>
              <th scope="col">Apelido</th>
              <th scope="col">Original</th>
              <th scope="col">Clicks</th>
              <th scope="col">Acessos</th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody>
            @for (url of urlList; track url.id) {
              <tr>
                <td class="text-center">{{ url.nickname }}</td>
                <td class="text-truncate" style="max-width: 200px;">{{ url.originalUrl.url }}</td>
                <td class="text-center">{{ url.clicksCount }}</td>
                <td class="text-center">{{ url.accesses_count }}</td>   
                <td class="text-center"> <a (click)="deleteUrl(url)" class="link-underline-primary" style="cursor: pointer;">Excluir</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
