<h1>
    Muito prazer, meu nome é {{name}}
  </h1>
  
  <div>
    <img [src]="imgsrc" (mouseenter)="toggleImage()" (mouseleave)="toggleImage()"/>
  </div>
  
  <div>
    <form [formGroup]="urlShortenerForm" (ngSubmit)="submitShortUrl()">
    <fieldset class="form-group">
      <legend>Link do URL Original:</legend>
      <input
        formControlName="originalUrl"
        placeholder="https://www.meuURLlongo.com.br/meu/caminho"
        class="form-control form-control-lg"
        type="text"
      />
    </fieldset>
  
    <fieldset class="form-group">
      <legend>URL encurtado:</legend>
      <input
        formControlName="nickname"
        placeholder="meuperfil"
        class="form-control form-control-sm"
        type="text"
      />
    </fieldset>
  
    <fieldset class="form-group">
      <legend>Senha:</legend>
      <input
        formControlName="password"
        placeholder="******"
        class="form-control form-control-sm"
        type="password"
      />
    </fieldset>
  
    <button 
      [disabled]="!urlShortenerForm.valid"
      class="btn btn-lg btn-primary pull-xs-right"
      >
      Encurtar
    </button>
  </form>
  </div>
  