<div
  class="container d-flex flex-column justify-content-center align-items-center"
  style="min-height: max-content; height: 100vh"
>
  <div
    (click)="goToHome()"
    class="d-flex gap-2 align-items-center mb-4"
    style="cursor: pointer"
  >
    <img src="favicon.png" height="40px" width="40px" />
    <p class="navbar-brand fw-bold fs-3" style="margin: 0; color: white">
      Encurtador
    </p>
  </div>

  <form
    [formGroup]="loginForm"
    (submit)="submitLogin()"
    class="container h-50 w-50 d-flex py-2 flex-column justify-content-center gap-3 px-4 rounded-4"
    style="
      background-color: #faf9f6;
      min-height: max-content;
      min-width: fit-content;
    "
  >
    <span class="fw-bold fs-5">Login: </span>

    <fieldset class="form-group">
      <input
        formControlName="email"
        class="form-control form-control-lg"
        type="email"
        placeholder="Email"
      />
    </fieldset>

    <fieldset class="form-group">
      <input
        formControlName="password"
        class="form-control form-control-lg"
        type="password"
        placeholder="Senha"
      />
    </fieldset>

    <div class="px-1">
      <p>Não tem um conta? <a href="user/register">Criar conta</a></p>
    </div>

    <div class="d-flex justify-content-center">
      <button
        [disabled]="!loginForm.valid || isSubmitting"
        class="btn btn-lg btn-primary w-100"
        type="submit"
      >
        <span
          class="spinner-border spinner-border-sm"
          aria-hidden="true"
          [hidden]="!isSubmitting"
        ></span>
        Entrar
      </button>
    </div>
  </form>
</div>
